.layout-container2 {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content2 {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
